In [39]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /home/ironhackeuse/yes/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /home/ironhackeuse/yes/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /home/ironhackeuse/yes/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /home/ironhackeuse/yes/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/ironhackeuse/yes/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd
pd.Series
import os
os.chdir(r'/home/ironhackeuse/Pandas/vehicles')
df=pd.read_csv('vehicles_pipe.txt', sep='|')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [25]:
#pd.read_json('vehicles.json')
!pip install pymysql
!pip install sqlalchemy
!pip install getpass3

Requirement already satisfied: pymysql in /home/ironhackeuse/yes/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /home/ironhackeuse/yes/lib/python3.8/site-packages (1.3.20)
Collecting getpass3
  Downloading getpass3-1.2.tar.gz (1.7 kB)
Building wheels for collected packages: getpass3
  Building wheel for getpass3 (setup.py) ... done
  Created wheel for getpass3: filename=getpass3-1.2-py3-none-any.whl size=1775 sha256=8cc07445165625697906297867e1a356bd93f33c393d3f4d748f6aa36dd64e55
  Stored in directory: /home/ironhackeuse/.cache/pip/wheels/d1/9a/06/c5e35c13878c631bd93ca18032c044a84d1c59a76bd61046a6
Successfully built getpass3
Installing collected packages: getpass3
Successfully installed getpass3-1.2

In [2]:
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

In [8]:
#credentials
username='root'
server='localhost'
database='publications'
password=getpass()

········

In [9]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@{server}/{database}')

In [10]:
pd.read_sql_query("select * from authors", engine)

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1
2,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1
3,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1
4,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1
5,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0
6,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1
7,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
8,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1
9,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1
10,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0
11,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1
12,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1
13,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1
14,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1
15,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1
17,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1
18,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1
19,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
20,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1
22,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1

In [ ]:
import pandas as pd
pd.Series
import os
os.chdir(r'/home/ironhackeuse/Pandas/czech')

#credentials
username='root'
server='localhost'
database='publications'
password=getpass()

engine=create_engine(f'mysql+pymysql://{username}:{password}@{server}/new_finance')

df=pd.read_csv('account.asc', sep='|')
df.head()